<!DOCTYPE html>

<html>
<head>
    {{>styles}}
</head>

<body>
    {{>header}}
    <div class='inner-body'>
        <img src='/assets/404-img.png'/>
        <div class='body-of-text error-text'>{{ bodyOf404 }}</div>
    </div>
</body>
{{>footer}}

</html>