<!DOCTYPE html>

<html>
<head>
    {{>styles}}
</head>

<body>
    {{>header}}
    <div class='inner-body'>
        <div class='inner-body'>
            <img class='phi-pic' src='https://avatars0.githubusercontent.com/u/12983020?s=460&v=4' />
            <p class='help-text'>
                    I developed this application to show that I am a capable of developing a dynamic web application. 
                <br/>
                <br/>
                    This app was built using the following technologies.
            </p>
            <ul class='tech-stack'>
                <li><img src='/assets/tech-stack/node-js.png' /></li>
                <li><img src='/assets/tech-stack/express-routing-logo.png' /></li>
                <li><img src='/assets/tech-stack/npm.png' /></li>
                <li><img src='/assets/tech-stack/heroku.png' /></li>
                <li><img src='/assets/tech-stack/handlebars-js.png' /></li>
            </ul>
        </div>
    </div>
</body>
{{>footer}}
</html>