<!DOCTYPE html>

<html>
<head>
    {{>styles}}
</head>

<body>
    {{>header}}
    <div class='inner-body'>
        <img src='https://avatars0.githubusercontent.com/u/12983020?s=460&v=4' />
        <p class='help-text'>
           I developed this application to show that I am a capable of developing a dynamic web application. <br/>
           This app was built using the following technologies.
        </p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
{{>footer}}
</html>