<!DOCTYPE html>

<html>
<head>
    {{>styles_scripts}}
</head>

<body>
    {{>header}}
    <div class='inner-body'>
            <div class='weather-button-wrapper'>
                {{>get_weather}}
            </div>
    </div>
</body>
{{>footer}}
</html>