<!DOCTYPE html>

<html>
<head>
    {{>styles}}
</head>

<body>
    {{>header}}
    <div class='inner-body'>
        <div class='weather-results-panel hide'>
            {{>weather_results}}
        </div>
        <div class='weather-form-wrapper show'>
            {{>get_weather}}
        </div>
    </div>
</body>
{{>footer}}

</html>