<footer>
  <a class='credits-wrapper' href='https://github.com/pnguy55'>
    <img class='weather-logo-decorator' src='/assets/weather-logo.png' />
    <div class='credits'>
        {{ name }}
    </div>
    <img class='weather-logo-decorator' src='/assets/weather-logo.png' />
  </a>
  <script src='./js/app.js'></script>
</footer>
