<div class='nav-bar'>
    <div class='nav-bar-logo-wrapper'>
        <h1>{{ title }}</h1>
    </div>
    <div class='nav-bar-link-wrapper'>
        <a class='nav-link' href='/'>Home</a>
        <a class='nav-link' href='/help'>Help</a>
        <a class='nav-link' href='/about'>About</a>
        <a class='nav-link' href='/weather'>Weather</a>
    </div>
</div>