<div class='nav-bar'>
    <a class='nav-bar-logo-wrapper' href='/'>
        <img class='weather-logo' src='/assets/weather-logo.png' />
        <h1>{{ logo_text }}</h1>
    </a>
    <div class='nav-bar-link-wrapper'>
        <a class='nav-link' href='/'>Home</a>
        <a class='nav-link' href='/help'>Help</a>
        <a class='nav-link' href='/about'>About</a>
    </div>
</div>