<title>{{ title }}</title>
<link rel='icon' href='/assets/weather-logo.png'>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel='stylesheet' href='./css/styles-default-mobile.css'>
<link rel='stylesheet' media="screen and (min-width: 900px)" href='./css/styles-desktop.css'>

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap" rel="stylesheet">
