:root {
    --background-color: #ffffff;
    --main-color: #1631AB;
    --lighter-shade: #1835B8;
    --darker-shade: #0E1F6B;
    --header-font: 'Roboto Slab', serif;
    --body-font: 'Open Sans', sans-serif;
}
*{
    margin: 0;
}
body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--body-font);
}
h1, h2, h3, h4 {
    font-family: var(--header-font);
}
.nav-bar{
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--background-color);
}
.nav-bar-logo-wrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--background-color);
}
.nav-bar-logo-wrapper > h1{
    padding: .5em 1em;
}
.nav-bar-logo-wrapper > .weather-logo{
    width: 50px;
    margin-left: 1rem;
} 
.nav-bar-link-wrapper {
    display: flex;
}
.nav-bar-link-wrapper > a {
    display: flex;
    padding: .5em 1em;
    flex: 1;
    text-decoration: none;
    color: var(--background-color);
    font-family: var(--header-font);
    font-weight: 900px;
}
.nav-bar-link-wrapper > a:hover{
    background-color: var(--background-color);
    color: var(--main-color);
    border-radius: 4px;
}
.inner-body{
    margin: 8rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-button-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.weather-button{
    display: flex;
    justify-content: center;
    width: 10rem;
    padding: .5rem;
    border: none;
    border-radius: 40px;
    background-color: var(--main-color);
    color: var(--background-color);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 1px 5px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 23px 0px rgba(0,0,0,0.75);
}
.weather-button:hover{
    background-color: var(--darker-shade);
}
.body-of-text{
    margin: 1rem 5% 1rem 5%;
}
.error-text{
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 12px;
}
.inner-body > img{
    max-width: 95%;
    max-height: 95%;
}
.creator-img{
    width: 250px;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin-top: 1rem;
}
.credits-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--main-color);
    padding: 0px .5rem;
    font-weight: 900;
    text-decoration: none;
    border: solid var(--background-color) 2px;
    border-radius: 12px;
}
.credits-wrapper:hover {
    background-color: var(--main-color);
    color: var(--background-color);
    border-color: var(--background-color);
}
.credits{
    margin: 1rem .5rem;
}
.weather-logo-decorator{
    height: 2rem;
}
