.nav-bar{
    flex-direction: row;
    height: 5rem;
}
.nav-bar-link-wrapper > a{
    background-color: rgba(0,0,0,0);
    height: 100%;
    border-radius: 0px;
}
.nav-bar-link-wrapper > a{
    border: none;
}
.inner-body{
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}
.weather-form{
    width: 40%;
}
.weather-results-wrapper{
    width: 40%;
}
.tech-stack{
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.tech-stack > li > img {
    width: 150px;
}