:root {
    --background-color: #ffffff;
    --main-color: #1631AB;
    --lighter-shade: #1835B8;
    --darker-shade: #0E1F6B;
    --gray: rgba(0,0,0,.70);
    --header-font: 'Roboto Slab', serif;
    --body-font: 'Open Sans', sans-serif;
}
*{
    margin: 0;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
body {
    background-image: url('/assets/little_tree.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--main-color);
    font-family: var(--body-font);
    min-height: 100vh;
}
h1, h2, h3, h4 {
    font-family: var(--header-font);
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 8rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--background-color);
}
.nav-bar-logo-wrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--background-color);
}
.nav-bar-logo-wrapper > h1{
    padding: .5em 1em;
}
.nav-bar-logo-wrapper > .weather-logo{
    width: 50px;
    margin-left: 1rem;
} 
.nav-bar-link-wrapper {
    display: flex;
}
.nav-bar-link-wrapper > a {
    display: flex;
    padding: .5em 1em;
    flex: 1;
    text-decoration: none;
    background-color: var(--darker-shade);
    color: var(--background-color);
    font-family: var(--header-font);
    font-weight: 900px;
    border-radius: 0px 0px 4px 4px;
}
.nav-bar-link-wrapper > a{
    border-right: 1px solid var(--background-color);
}

.nav-bar-link-wrapper > a:hover{
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 0px 0px 4px 4px;
}
.inner-body{
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather-form-wrapper{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.weather-form{
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.weather-form > input {
    font-size: 2rem;
    width: 100%;
    border: 1px solid var(--background-color);
    border-radius: 4px;
}
.weather-button{
    width: 10rem;
    padding: .5rem;
    border: none;
    border-radius: 40px;
    background-color: var(--main-color);
    color: var(--background-color);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 1px 5px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 23px 0px rgba(0,0,0,0.75);
}
.weather-button:hover{
    background-color: var(--darker-shade);
}

/*Weather results start*/
.weather-results-panel{
    width: 100%;
    justify-content: center;
    padding: 2rem 0rem;
}
.weather-results-wrapper{
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    background-color: var(--gray);
    color: var(--background-color);
    padding: 1rem;
}
.weather-results-wrapper > h1{
    padding-bottom: 1rem;
}

/*Weather results end*/

.body-of-text{
    margin: 1rem 5% 1rem 5%;
}
.error-text{
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 12px;
}
.inner-body > img{
    max-width: 95%;
    max-height: 95%;
}
.creator-img{
    width: 250px;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.credits-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--background-color);
    padding: 0px .5rem;
    font-weight: 900;
    text-decoration: none;

    border-radius: 12px;
}
.credits-wrapper:hover {
    background-color: var(--darker-shade);
}
.credits{
    margin: 1rem .5rem;
}
.weather-logo-decorator{
    height: 2rem;
}

/* Weather icon sprite classes */
#weather-icon-sprites{
    position: relative;
    background-image: url("/assets/weather-icons/weather-icons.png");
    background-size: 200%;
    width: 100%;
    padding-top: 90.59%;
}
.clear-day, .clear-night{
    background-position: top left;
} 
.rain{
    background-position: center right;
} 
.snow, .sleet{
    background-position: bottom left;
}
.wind, .fog, .cloudy{
    background-position: center left;
} 
.partly-cloudy-day, .partly-cloudy-night{
    background-position: top right;
}
/* Weather icons sprites classes end*/

/* About page css */
.inner-body > .inner-body{
    background-color: var(--gray);
    color: var(--background-color);
}
.phi-pic{
    height: 150px;
    border-radius: 4px;
    margin-top: 1rem;
}
.inner-body > .inner-body > p {
    width: 80%;
    padding: 2rem;
}
.tech-stack{
    margin: .5rem;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: 4px;
}
.tech-stack > li {
    list-style-type: none;
    margin: .5rem;
}
.tech-stack > li > img {
    width: 100px;
}
/* About page css */